
.game-details {
  padding: 40px 20px;
  text-align: center;
  color: #00ffcc; 
}


.gallery {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  gap: 30px;              
}


.gallery img {
  width: 100%;          
  max-width: 1000px;      
  height: auto;           
  border: 3px solid #00ffcc; 
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 255, 204, 0.3);
}


h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}